# .gitconfig

[user]
  name = Gyuseung Hwang
  email = sean@remote.host
[credential]
  helper = cache --timeout=360000        # timeout for password

[alias]
  s = status -s
  co = checkout
  ci = commit
  br = branch
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'\
    --abbrev-commit
  backup = "!git branch backup-`git b0`"
  cleanbranch = "!git branch -d $(git branch --merged | grep -v '^\\*\\|\\<master$')"
  chs = !git checkout && git status
  acap = "!git add -A && git commit --amend && git push -f"
