# .gitignore
# git config --global core.excludesfile $HOME/.gitignore: Create global gitignore
!*

# *: Ignore everything
# !*.py: But not these files...

# For home file
*

!.ssh/**
!*.vimrc
!*.vim
!*.bashrc
!.gitignore
