/**
 *  containers
 */
.container {
  height: 100%;
  position: absolute;
}
.main {
  width: 65%;
  height: 57%;
  float: left;
  position: relative;
}
.side {
  width: 35%;
  height: 57%;
  float: left;
  position: relative;
}

.foot {
  width: 100%;
  height: 43%;
  float: left;
  position: relative;
}
/**
 * images
 */
.board {
  position: relative;
  height: auto;
  width: 100%;
  float: left;
}

.icon {
  position: absolute;
  height: 5%;
  width: auto;
  opacity: 0.7;
}

.playerCard {
  height: 100%;
  width: auto;
  position: relative;
}

.takeout {
  position: absolute;
  height: 6%;
  width: auto;
}

.mission {
  position: absolute;
  height: 10%;
  width: auto;
}
